{% extends "base.html" %}
{% block contents %}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>홈페이지</h1>
    </div>
</div>

<div class="row mt-5">
    <!-- 로그인 되어 있는 경우 로그인을 보이지 않고 로그아웃을 보임 -->
    {% if request.session.user %}
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/fcuser/logout/'">로그아웃</button>
    </div>
    {% else %}
    <div class="col-6">
        <!-- onclick : 링크 연결 -->
        <button class="btn btn-primary btn-block" onclick="location.href='/fcuser/login/'">로그인</button>
    </div>
    {% endif %}
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/fcuser/register/'">회원가입</button>
    </div>
</div>

<div class="row mt-1">
    <div class="col-12">
        <button class="btn btn-primary btn-block" onclick="location.href='/board/list'">게시물 보기</button>
    </div>
</div>

{% endblock %}